/Alternate101
/ArrayLeader
/Canteen
/Circle
/DifferenceEvenOdd
/divisiblityTest
/EveryIthElement
/Frequency101
/Grades
/grettestEleAtRight
/Largest
/Matrix101
/Mean
/parityMin
/ReduceArray
/ReduceIt
/RotateMatrix
/Strange
/SwapK